@keyframes switchScriptOn {
  0% {
    color: #3d4c68;
    letter-spacing: normal;
  }
  50% {
    color: rgb(177, 8, 8);
    letter-spacing: 2px;
  }
  100% {
    color: #3d4c68;
    letter-spacing: normal;
  }
}
@keyframes switchScriptOff {
  0% {
    color: #3d4c68;
    letter-spacing: normal;
  }
  50% {
    color: rgb(20, 153, 20);
    letter-spacing: 2px;
  }
  100% {
    color: #3d4c68;
    letter-spacing: normal;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.kanap {
  color: white;
}

h1 {
  font-size: 48px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  justify-content: flex-start;
  background-color: orange;
  padding-left: 5%;
}
.header ul {
  display: flex;
}
.header ul li {
  display: flex;
  margin-right: 40px;
}
.header ul li img {
  height: 16px;
  margin-right: 10px;
}
.header ul li img.address {
  height: 18px;
  margin-right: 5px;
}

.menu {
  justify-content: space-between;
  padding: 15px 10%;
}
.menu img {
  height: 100px;
  padding-right: 80px;
  cursor: pointer;
}
.menu .switchScript {
  font-size: 24px;
  font-weight: bold;
  color: #3d4c68;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 800ms;
  animation: switchScriptOff 4000ms both ease-in-out infinite;
  cursor: pointer;
}
.menu .switchScript:hover {
  background-color: rgba(20, 153, 20, 0.1);
  box-shadow: 4px 4px 8px rgb(20, 153, 20) inset;
}
.menu .switchScript.active {
  animation: switchScriptOn 4000ms both ease-in-out infinite;
}
.menu .switchScript.active:hover {
  background-color: rgba(177, 8, 8, 0.1);
  box-shadow: 4px 4px 8px rgb(177, 8, 8) inset;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  width: 180px;
  padding: 0;
}
.menu ul li {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  color: #3d4c68;
  transition: all 400ms;
  cursor: pointer;
}
.menu ul li:hover {
  color: orange;
  letter-spacing: 1px;
}

.banner {
  height: 550px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10%;
  margin-top: 40px;
}
.items .item {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 320px;
  width: 280px;
  background-color: #2c3e50;
  padding: 25px;
  border-radius: 10px;
  margin: 30px 0;
  cursor: pointer;
}
.items .item img {
  height: 160px;
  width: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.items .item p {
  width: 100%;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.items .item:hover {
  box-shadow: rgba(42, 18, 206, 0.9019607843) 0 0 22px 6px;
}

.footer {
  flex-direction: column;
  color: #a6b0b3;
}
.footer img {
  height: 100px;
}
.footer--primary {
  justify-content: space-evenly;
  width: 100%;
  background-color: #3d424f;
  padding: 50px 0;
}
.footer--secondary {
  width: 100%;
  background-color: #2d2f3e;
  padding: 40px 0;
}

main {
  background-color: orange;
  margin-top: -5px;
}
main.home {
  flex-direction: column;
  padding-top: 60px;
}

/***************/
/*Media queries*/
/***************/
@media (max-width: 991.98px) {
  .informations ul {
    display: flex;
    justify-content: space-around;
  }
  .items a {
    width: 42%;
  }
  .footerMain .subbox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerSecondary .subbox p {
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .informations ul {
    flex-direction: column;
    align-items: center;
  }
  .informations ul li {
    margin-bottom: 14px;
    margin-right: 0;
  }
  .menu .subbox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo {
    margin-top: 20px;
  }
  .menu nav ul {
    padding: 0;
    line-height: 80px;
  }
  .menu nav ul a:first-child li {
    margin-left: 0;
  }
  .items a {
    width: 75%;
  }
}
/*********/
/*Product*/
/*********/
/*Item Details*/
.item {
  margin: 135px 0;
  display: flex;
  justify-content: center;
}

.item article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.item__img {
  width: 100%;
}

.item__img img {
  width: 100%;
  border-radius: 15px;
}

.item__content {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item__content h1 {
  text-align: left;
  font-size: 48px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0;
}

.item__content__titlePrice,
.item__content__description,
.item__content__settings {
  border-bottom: 1px solid white;
}

.item__content__titlePrice p {
  margin-top: 4px;
}

.item__content__description {
  display: flex;
  flex-direction: column;
}

.item__content__description__title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0;
}

.item__content__settings {
  padding-top: 24px;
  padding-bottom: 18px;
}

.item__content__settings__color {
  margin-bottom: 10px;
}

.item__content__settings__color select,
.item__content__settings__quantity input {
  color: #3d424f;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid #767676;
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
}

.item__content__settings__color select:focus,
.item__content__settings__quantity input:focus {
  outline: none;
}

.item__content__addButton {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

.item__content__addButton button {
  font-size: 22px;
  border-radius: 40px;
  border: 0;
  background-color: secondary-color;
  color: white;
  padding: 18px 28px;
  cursor: pointer;
}

.item__content__addButton button:hover {
  box-shadow: rgba(42, 18, 206, 0.9) 0 0 22px 6px;
}

/***************/
/*Media queries*/
/***************/
@media (max-width: 991.98px) {
  .item article {
    width: 70%;
  }
  .item__content__settings__color,
  .item__content__settings__quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item__content__settings__color {
    margin-bottom: 26px;
  }
}
@media (max-width: 575.98px) {
  .item article {
    width: 90%;
  }
}
/*********/
/*GENERAL*/
/*********/
main {
  padding-bottom: 90px;
}

h1 {
  margin-bottom: 90px;
}

h2 {
  text-align: start;
}

/************/
/*Cart Items*/
/************/
.cart__item {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid white;
  padding-top: 35px;
  margin-bottom: 30px;
}

.cart__item__img {
  width: 25%;
}

.cart__item__img img {
  width: 100%;
  border-radius: 25px;
}

.cart__item__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart__item__content__titlePrice {
  display: flex;
  justify-content: space-between;
}

.cart__item__content__titlePrice h2,
.cart__item__content__titlePrice p {
  margin: 0;
}

.cart__item__content__settings p {
  margin: 0;
}

.cart__item__content__settings input {
  color: #3d424f;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid #767676;
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
}

.cart__item__content__settings input:focus {
  outline: none;
}

.cart__item__content__settings__quantity {
  display: flex;
}

.cart__item__content__settings__quantity p {
  margin-right: 10px;
  display: flex;
}

.cart__item__content__settings__delete p {
  display: inline;
}

.cart__item__content__settings__delete p:hover {
  cursor: pointer;
  font-weight: 700;
}

/*******/
/*Price*/
/*******/
.cart__price {
  border-top: 1px solid white;
  padding-top: 35px;
}

.cart__price p {
  text-align: end;
  font-size: 22px;
}

/*******/
/*Order*/
/*******/
.cart__order {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.cart__order__form {
  width: 50%;
}

.cart__order__form__question {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.cart__order__form__question input {
  border-radius: 13px;
  border: 0;
  height: 26px;
  margin-top: 4px;
}

.cart__order__form__question input:focus {
  outline: none;
}

.cart__order__form__question p {
  margin: 0;
  color: #fbbcbc;
  font-size: 15px;
  margin-left: 8px;
}

.cart__order__form__submit {
  display: flex;
  justify-content: center;
}

.cart__order__form__submit input {
  font-size: 22px;
  border-radius: 40px;
  border: 0;
  background-color: secondary-color;
  color: white;
  padding: 18px 28px;
  cursor: pointer;
  margin-top: 40px;
}

.cart__order__form__submit input:hover {
  box-shadow: rgba(42, 18, 206, 0.9) 0 0 22px 6px;
}

/***************/
/*Media queries*/
/***************/
@media (max-width: 991.98px) {
  .cart__item__content__titlePrice {
    flex-direction: column;
  }
}
@media (max-width: 575.98px) {
  .cart__item {
    flex-direction: column;
    align-items: center;
  }
  .cart__item__img {
    width: 50%;
  }
  .cart__item__content {
    width: 90%;
  }
  .cart__item__content__titlePrice {
    margin-bottom: 20px;
  }
  .cart__price p {
    text-align: center;
  }
  .cart__order {
    justify-content: center;
  }
  .cart__order__form {
    width: 75%;
  }
}
/**************/
/*Confirmation*/
/**************/
.confirmation {
  display: flex;
  justify-content: center;
  margin-top: 85px;
  margin-bottom: 85px;
}

.confirmation p {
  background-color: white;
  color: #3d424f;
  text-align: center;
  font-weight: 500;
  padding: 30px;
  border-radius: 25px;
}/*# sourceMappingURL=index.css.map */